.box{
width: 100px;
height: 100px;
background-color: red;
animation-name: key;
animation-duration: 5000ms;
animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
animation-delay: 100ms;
animation-iteration-count: infinite;
animation-direction: reverse;
position: absolute;
}

@keyframes key{
0%{
    background-color: red;
 left: 750px;
 top: 200px;
}
25%{
    background-color: blue;
    left: 850px;
    top: 200px;
}
50%{
    background-color: green;
    left: 850px;
    top: 300px;
}
75%{
    background-color: yellow;
    left: 750px;
    top: 300px;
}
100%{
    background-color: red;
    left: 750px;
    top: 200px;
}
}